// less for HFSecure/root

@playfair: 'Goudy Old Style', 'Goudy', 'Playfair Display', 'Times', 'Times New Roman', serif; 
@oxygen: 'Oxygen', 'Helvetica Neue', sans-serif;

// Colors
@grayLite: #fff;
@black: #302A30;

h1, h2, h3 {
	font-family: @playfair;
	font-weight: 400;
}
p, a {
	font-family: @oxygen;
}

a {
	text-decoration: none;
	color: #555;
}

h1, h3, h3, p {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
}

#nav-button {
	width: 50px;
	height: 50px;
	top: 15px;
	left: 15px;
	position: absolute;
	display: block;
	border: 1px solid @grayLite;
	position: fixed;
	.nav-btn-bar {
		width: 50%;
		height: 4px;
		background-color: @grayLite;
		display: block;
		margin: 8px auto 0 auto;
	}
	.top-one {
		margin-top: 12px;
	}
}

#nav-button:hover {
	background-color: rgba(255,255,255,0.3);
	cursor: pointer;
}

nav {
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	padding-bottom: 4px;
	ul {
		list-style: none;
		float: right;
		margin-right: 50px;
		margin-top: 25px;
		li {
			list-style: none;
			display: inline-block;
			float: left;
			padding: 5px 10px;
			//border: 1px solid red;
			margin: 0;
			a {
				text-transform: uppercase;
			//	display: block;
				color: @grayLite;
				margin: 0;
				font-weight: 300;
			}
		}
		li:hover {
			a {
				color: white;
				font-weight: 400;
			}
		}
	}
}


header {
	background-color: @black;
	height: 900px;
	background-image: url('../images/lansing-u.png');
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	.wrapper {
		padding-top: 90px;
		img {
			display: block;
			margin: 0 auto;
			padding-top: 30px;
			padding-bottom: 40px;
		}
		.border {
			display: block;
			width: 420px;
			height: 420px;
			padding: 0;
			border: 2px solid @grayLite;
			position: absolute;
			left: 33.33%;
		}
		h1 {
			font-family: @playfair;
			font-weight: 400;
			text-align: center;
			width: 90%;
			max-width: 850px;
			margin: 0 auto;
			color: @grayLite;
			padding-top: 50px;
			font-size: 30px;
		}
		p {
			width: 90%;
			max-width: 400px;
			margin: 0 auto;
			color: @grayLite;
			font-family: @oxygen;
			padding-top: 20px;
		}
	}
}

.story {
	width: 100%;
	height: 900px;
	display: block;
	background-color: @black;
	color: @grayLite;
	padding: 40px 0;
	h2 {
		width: 90%;
		max-width: 500px;
		text-align: center;
		font-size: 24px;
		margin: 0 auto;
	}
}

.confidence {
	background-image: url('../images/water-2.png'); 
	background-size: 100% auto;
	height: 750px;
	h2 {
		font-size: 10em;
		opacity: 0.4;
		padding-top: 90px;
		padding-bottom: 30px;
		max-width: 1000px
	}
	p {
		max-width: 500px;
		height: 110px;
	}
	.wrapper {
		width: 90%;
		margin: 0 auto;
		max-width: 1400px;
		.svc-wrap {
			width: 24.5%;
			float: left;
		//	border: 1px solid @grayLite;
			p {
				padding: 10px 20px;
			}
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.security {
	background-image: url('../images/cam.jpg'); 
	background-size: 100% auto;
	height: 750px;
	.wrapper {
		width: 50%;
		margin-left: 10%;
		float: left;
		max-width: 600px;
		h2, p {
			color: #222;
			width: 100%;
			text-align: left;
			max-width: 100%;
		}
		p {
			margin-bottom: 50px;
		}
		h2 {
			font-size: 10em;
			opacity: 0.4;
		}
	}
}

.aerial {
	background-image: url('../images/aerial.png'); 
	background-size: 100% auto;
	height: 750px;
	padding: 0;
	.wrapper {
		width: 100%;
		height: 750px;
		margin-top: 0;
		background-color: rgba(0,0,0,0.6);
	}
	h2 {
		font-size: 100px;
		opacity: 0.5;
		padding-top: 90px;
		padding-bottom: 30px;
	}
	p {
		max-width: 500px;
	}
}

footer {
	width: 100%;
	height: 500px;
	background-color: #222;
	.wrapper {
		width: 90%;
		margin: 0 auto;
		display: block;
		max-width: 1200px;
		padding-top: 20px;
		height: 425px;
		.col {
			width: 32%;
			border-top: 1px solid white;
			float: left;
			color: white;
		}
		.col-l {

		}
		.col-m {
			margin: 0 1%;
			p {
				text-align: center;
				text-transform: uppercase;
				font-size: 11px;
				margin-top: 20px;
			}
			input,
			textarea {
				width: 90%;
				border: 1px solid white;
				margin: 8px auto;
				color: white;
				text-align: center;
				display: block;
				border-radius: 3px;
				background-color: #555;
				line-height: 22px;
			}
		}
		.col-r {

		}
	}
}

.copyright {
	clear: both;
	padding-top: 5px;
	text-align: center;
	color: #444;
	p {
		span {
			color: #464646;
		}
		span:hover {
			cursor: pointer;
		}
	}
}

.wrapper-legal {
	p, a {
		display: inline;
		text-decoration: none;
		color: #555;
	}
	a {
		color: #777;
	}
}









footer .wrapper .col.col-m input.button,
.button {
	width: 150px;
	display: block;
	border: 1px solid @grayLite;
	border-radius: 3px;
	margin: 10px auto;
	transition: all 200ms ease-in-out;
	text-transform: uppercase; // input.button
	font-size: 11px;
	a {
		font-family: @oxygen;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 11px;
		color: white;
		display: block;
		width: 100%;
		padding: 5px 0;
		transition: all 200ms ease-in-out;
	}
}
.button:hover {
	a {
		color: black;
		background-color: white;

	}
}

.darker {
	border: 1px solid #222;
	a {
		color: #222;
	}
}

.darker:hover {
	a {
		color: white;
		background-color: #222;
	}
}














































